<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<variable name="logLayout"
		   value="Logger：${logger}${newline}Date：${longdate} Level：${uppercase:${level}}${newline}Message：${message} ${newline}${onexception:Exception：${exception:format=toString}${newline}}" />

	<targets>
		<!--此部分中的所有目标将自动异步-->
		<!--concurrentWrites:支持多个并发一起写文件，提高文件写入性能。-->

		<default-wrapper xsi:type="AsyncWrapper"></default-wrapper>
		<target name="info" xsi:type="File"
				fileName="${basedir}/Logs/${level}/${shortdate}.txt"
				layout="${date:HH\:mm}: ${message}"
				archiveFileName="${basedir}/Logs/${level}/${shortdate}.{#####}.txt"
				archiveAboveSize="1024000"
				concurrentWrites="true"
				keepFileOpen="true"
				encoding="utf-8"
				openFileCacheTimeout="30"/>

		<target name="error" xsi:type="File"
				fileName="${basedir}/Logs/${level}/${shortdate}.txt"
				layout="${date:HH\:mm}: ${message} ${onexception:${exception:format=message} ${newline} ${stacktrace} ${newline}"
				archiveFileName="${basedir}/Logs/${level}/${shortdate}.{#####}.txt"
				archiveAboveSize="1024000"
				concurrentWrites="true"
				keepFileOpen="true"
				encoding="utf-8"
				openFileCacheTimeout="30"/>
	</targets>
	<rules>
		<logger name="*" minlevel="Trace" writeTo="info" />
		<logger name="*" minlevel="Error" writeTo="error" />
	</rules>
</nlog>







